{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": [
    "babel",
    "import"
  ],
  "rules": {
    "no-plusplus": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "modules": true
  }
}
